<div class="app-container">
  <header class="app-header">
    <h1>Receipt Breakdown App</h1>
  </header>
  <main class="app-content">
    <section class="card">
      <header class="card-header">
        <h2>Categories</h2>
      </header>
      <div class="card-content category-grid">
        @for (category of categories; track $index) {
          @if (!category.default) {
            <button class="remove-button"
                    (click)="onCategoryRemoveButtonClick($index)">
              <i class="material-icons">remove</i>
            </button>
          } @else {
            <div class="spacer"></div>
          }
          <input placeholder="Name"
                 [(ngModel)]="category.name"
                 [readOnly]="Boolean(category.default)"
          />
          <input [placeholder]="MONEY_PLACEHOLDER"
                 currencyMask
                 [(ngModel)]="category.total"
                 [options]="CURRENCY_CONFIG"
                 [ngModelOptions]="{standalone:true}"
                 readonly
          />
        }
        <div class="spacer"></div>
        <div class="spacer"></div>
        <button class="add-button"
                (click)="onAddCategoryButtonClick()">
          <i class="material-icons">add</i>
          <span>Category</span>
        </button>
      </div>
    </section>
    <section class="card">
      <header class="card-header">
        <h2>Receipt</h2>
      </header>
      <div class="card-content receipt-grid">
        <div class="spacer"></div>
        <div class="spacer"></div>
        <input [placeholder]="MONEY_PLACEHOLDER"
               currencyMask
               [(ngModel)]="total"
               [options]="CURRENCY_CONFIG"
               [ngModelOptions]="{standalone:true}"
               readonly
        />
        <input [placeholder]="MONEY_PLACEHOLDER"
               currencyMask
               [(ngModel)]="tax"
               [options]="CURRENCY_CONFIG"
               (ngModelChange)="onTaxChange()"
               [ngModelOptions]="{standalone:true}"
        />
        @for (item of items; track $index) {
          <button class="remove-button"
                  (click)="onItemRemoveButtonClick($index)">
            <i class="material-icons">remove</i>
          </button>
          <input placeholder="Name"
                 [(ngModel)]="item.name"
          />
          <input [placeholder]="MONEY_PLACEHOLDER"
                 currencyMask
                 [ngModel]="item.amount"
                 [options]="CURRENCY_CONFIG"
                 (ngModelChange)="onItemAmountChange(item, $event)"
                 [ngModelOptions]="{standalone:true}"
          />
          <select [(ngModel)]="item.category"
                  (ngModelChange)="onItemCategoryChange(item, $event)">
            @for (category of categories; track $index) {
              <option [value]="$index">
                {{ $index }}&nbsp;{{ category.name }}
              </option>
            }
          </select>
        }
        <div class="spacer"></div>
        <div class="spacer"></div>
        <div class="spacer"></div>
        <button class="add-button"
                (click)="onAddItemButtonClick()">
          <i class="material-icons">add</i>
          <span>Item</span>
        </button>
      </div>
    </section>
  </main>
</div>
